process {
    
    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        enabled: false
    ]

    withName: MULTIQC {
        ext.prefix = "${params.run_name}_"
    }

    withName: 'CRABS_INSILICOPCR|CRABS_DEREPLICATE|CRABS_FILTER' {
        publishDir = [
            path: { "${params.outdir}/raw" },
            mode: params.publish_dir_mode,
            enabled: true
        ]
    }
    withName: 'VSEARCH_CLUSTER_FAST' {
        publishDir = [
            path: { "${params.outdir}/clustering" },
            mode: params.publish_dir_mode,
            enabled: true
        ]
    }
    withName: HELPER_CLUSTER_CONSENSUS {
        publishDir = [
            path: { "${params.outdir}/consensus" },
            mode: params.publish_dir_mode,
            enabled: true
        ]
    }
 
}
