process {
    
    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        enabled: false
    ]

    withName: MULTIQC {
        ext.prefix = "${params.run_name}_"
    }
    withName: 'STAGE_SAMPLESHEET|CUSTOM_DUMPSOFTWAREVERSIONS' {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: params.publish_dir_mode,
            enabled: true,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: CRABS_INSILICOPCR {
        ext.args = params.crabs_insilicopcr_options
        publishDir = [
            path: { "${params.outdir}/raw/crabs" },
            mode: params.publish_dir_mode,
            enabled: true,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: 'CRABS_DEREPLICATE|CRABS_FILTER' {
        publishDir = [
            path: { "${params.outdir}/raw/crabs" },
            mode: params.publish_dir_mode,
            enabled: true,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: 'VSEARCH_CLUSTER_FAST' {
        publishDir = [
            path: { "${params.outdir}/raw/vsearch" },
            mode: params.publish_dir_mode,
            enabled: true,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: HELPER_CLUSTER_CONSENSUS {
        publishDir = [
            path: { "${params.outdir}/consensus" },
            mode: params.publish_dir_mode,
            enabled: true,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: CRABS_SUBSET {
        publishDir = [
            path: { "${params.outdir}/subset" },
            mode: params.publish_dir_mode,
            enabled: true,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: 'CRABS_DIVERSITY_FIGURE|CRABS_AMPLIFICATION_EFFICENCY_FIGURE|CRABS_AMPLICON_LENGTH_FIGURE' {
        ext.args = "--tax-level 4"
        publishDir = [
            path: { "${params.outdir}/subset" },
            mode: params.publish_dir_mode,
            enabled: true,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: HELPER_TAXONOMIC_COVERAGE {
       publishDir = [
            path: { "${params.outdir}/tax_coverage" },
            mode: params.publish_dir_mode,
            enabled: true,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ] 
    }
 
}
