process {
    
    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        enabled: false
    ]

    withName: MULTIQC {
        ext.prefix = "${params.run_name}_"
    }

    withName: 'CRABS_INSILICOPCR|CRABS_DEREPLICATE|CRABS_FILTER' {
        publishDir = [
            path: { "${params.outdir}" },
            mode: params.publish_dir_mode,
            enabled: true
        ]
    }
    withName: DOWNLOAD_MIDORI_LRRNA {
        ext.prefix = "midori_lrrna"
        ext.args = "--download-midori --gb-number ${params.midori_version} --gene lrRNA --gb-type uniq" 
        publishDir = [
            path: { "${params.reference_base}/bemepri/${params.reference_version}/midori" },
            mode: params.publish_dir_mode,
            enabled: true
        ]
    }
    withName: DOWNLOAD_MIDORI_CYTB {
        ext.prefix = "midori_cytb"
        ext.args = "--download-midori --gb-number ${params.midori_version} --gene Cytb --gb-type uniq" 
        publishDir = [
            path: { "${params.reference_base}/bemepri/${params.reference_version}/midori" },
            mode: params.publish_dir_mode,
            enabled: true
        ]
    }
    withName: DOWNLOAD_MIDORI_CO1 {
        ext.prefix = "midori_co1"
        ext.args = "--download-midori --gb-number ${params.midori_version} --gene CO1 --gb-type uniq" 
        publishDir = [
            path: { "${params.reference_base}/bemepri/${params.reference_version}/midori" },
            mode: params.publish_dir_mode,
            enabled: true
        ]
    }
    withName: DOWNLOAD_MITOFISH {
        ext.prefix = "mitofish"
        ext.args = "--download-mitofish" 
        publishDir = [
            path: { "${params.reference_base}/bemepri/${params.reference_version}/mitofish" },
            mode: params.publish_dir_mode,
            enabled: true
        ]
    }
    withName: CRABS_IMPORT_MIDORI {
        ext.args = "--import-format midori"
        publishDir = [
            path: { "${params.reference_base}/bemepri/${params.reference_version}/midori" },
            mode: params.publish_dir_mode,
            enabled: true
        ]
    }
    withName: DOWNLOAD_MITOFISH {
        ext.args = "--download-mitofish "
        publishDir = [
            path: { "${params.reference_base}/bemepri/${params.reference_version}/midori" },
            mode: params.publish_dir_mode,
            enabled: true
        ]
    }
 
}
