params {

  references {

    'midori_lrrna' {
      db = "${params.reference_base}/bemepri/${params.reference_version}/midori/midori_lrrna.txt"
    }
    'midori_cytb' {
      db = "${params.reference_base}/bemepri/${params.reference_version}/midori/midori_cytb.txt"
    }
    'midori_co1' {
      db = "${params.reference_base}/bemepri/${params.reference_version}/midori/midori_co1.txt"
    }
    'mitofish' {
      db = "${params.reference_base}/bemepri/${params.reference_version}/mitofish/mitofish.txt"
    }
  }
  
}
