params {

  references {

    databases {

      'refseq_mito' {
        db = "${params.reference_base}/barbeque/${params.reference_version}/refseq/mitochondrion.1.1.genomic.txt"
        description = "RefSeq Mitochondria 1.1"
      }
      'midori_lrrna' {
        db = "${params.reference_base}/barbeque/${params.reference_version}/midori/midori_lrrna.txt"
        description = "Midori lrRNA database with all unique entries (Genbank ${params.midori_version})"
      }
      'midori_srrna' {
        db = "${params.reference_base}/barbeque/${params.reference_version}/midori/midori_srrna.txt"
        description = "Midori srRNA database with all unique entries (Genbank ${params.midori_version})"
      }
      'midori_cytb' {
        db = "${params.reference_base}/barbeque/${params.reference_version}/midori/midori_cytb.txt"
        description = "Midori Cytb database with all unique entries (Genbank ${params.midori_version})"
      }
      'midori_co1' {
        db = "${params.reference_base}/barbeque/${params.reference_version}/midori/midori_co1.txt"
        description = "Midori CO1 database with all unique entries (Genbank ${params.midori_version})"
      }
      'midori_co2' {
        db = "${params.reference_base}/barbeque/${params.reference_version}/midori/midori_co2.txt"
        description = "Midori CO2 database with all unique entries (Genbank ${params.midori_version})"
      }
      'midori_co3' {
        db = "${params.reference_base}/barbeque/${params.reference_version}/midori/midori_co2.txt"
        description = "Midori CO3 database with all unique entries (Genbank ${params.midori_version})"
      }
      'mitofish' {
        db = "${params.reference_base}/barbeque/${params.reference_version}/mitofish/mitofish.txt"
        description = "Mitofish database (not versioned!)"
      }
      'metafish' {
        db = "${params.reference_base}/barbeque/${params.reference_version}/metafish/metafish.txt"
        description = "Metafish-lib database (not versioned!)"
      }
    }
    taxdump_url = "https://ftp.ncbi.nlm.nih.gov/pub/taxonomy/new_taxdump/new_taxdump.tar.gz"
    taxdump = "${params.reference_base}/barbeque/${params.reference_version}/new_taxdump"
    
  }
}