params {

  references {

    databases {

      'midori_lrrna' {
        db = "${params.reference_base}/barbeque/${params.reference_version}/midori/midori_lrrna.txt"
        description = "Midori lrRNA database with all unique entries (Genbank ${params.midori_version})"
      }
      'midori_cytb' {
        db = "${params.reference_base}/barbeque/${params.reference_version}/midori/midori_cytb.txt"
        description = "Midori Cytb database with all unique entries (Genbank ${params.midori_version})"
      }
      'midori_co1' {
        db = "${params.reference_base}/barbeque/${params.reference_version}/midori/midori_co1.txt"
        description = "Midori CO1 database with all unique entries (Genbank ${params.midori_version})"
      }
      'mitofish' {
        db = "${params.reference_base}/barbeque/${params.reference_version}/mitofish/mitofish.txt"
        description = "Mitofish database (not versioned!)"
      }
    }
    taxdump_url = "https://ftp.ncbi.nlm.nih.gov/pub/taxonomy/new_taxdump/new_taxdump.tar.gz"
    taxdump = "${params.reference_base}/barbeque/${params.reference_version}/taxdump"
    
  }
}